<main class="container center">
  <div class="page-area">

  <app-article>
    <p>Ready to start tracking your budget!</p>
  </app-article>

  <app-article>
    <p>This simple budget app would help you with visualizing your budget</p>
  </app-article>

  <app-article>
    <p>The color options for your budget are automatically assigned each time
      which helps you to differentiate the budget entered.
    </p>
  </app-article>

  <app-article>
    <p>With our color options, your budget would also be created aesthetically</p>

  </app-article>

</div>

</main>
